section.contact
    .row.h-100
        .col-lg-6.h-100
            #map
        .col-lg-6
            .contact-form__wrapper
                H2 LIÊN HỆ
                .info
                    p Add: 310 phố Bà Triệu, P.Lê Đại Hành, Q.Hai Bà Trưng, Tp. Hà Nội
                    p Phone: 028. 38266766
                    p Email: Infoheiphoicongchung@email.com
                    p Website: info@web4gsolutions.com
                .form.all-no-border
                    h3 GỬI TIN NHẮN CHO CHÚNG TÔI
                    form#contact__form(action="")
                        .form-group(hidden)
                            input#contact__recaptcha(name="g-recaptcha-response")
                        .form-group
                            input(name="name", placeholder="Họ tên*")
                        .form-group
                            input(name="email", placeholder="Email*")
                        .form-group
                            input(name="phone", placeholder="Số điện thoại*")
                        .form-button.btn(data-url="/gui-lien-he")
                            img(src="./assets/images/icons/submit.png")
                            span.ai-c GỬI
