section.Research {
    padding: 86px 0;
    // css list left
    .research__list.col-3 {
        padding: 0 0;
    }
    .research__list {
        border-radius: 15px;
    }
    .research__list--title {
        border-radius: 15px;
        height: 52px;
        h3 {
            font-family: UTM-COPPERPLATEB;
            font-size: 30px;
            text-align: center;
        }
    }
    .research__list--item {
        padding: 54px;
        ul {
            li {
                padding-bottom: 31px;
                color: map-get($mau, xam);
                a {
                    display: block;
                    position: relative;
                    font-family: MYRIADPRO-BOLD;
                    color: map-get($mau, xam);
                    font-size: 17px;
                    padding-bottom: 12px;
                    width: 100%;
                    &::before {
                        position: absolute;
                        content: "";
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                        background: #C8C8C8;
                    }
                }
                &:last-child {
                    padding-bottom: 0px;
                }
            }
        }
    }
    .research__login.row {
        margin-right: -100px;
    }
    .research__login {}
    .research__login--form {
        border-radius: 15px;
        padding: 20px 32px;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
        h3 {
            font-family: UTM-COPPERPLATEB;
            font-size: 18px;
            text-align: center;
            margin-bottom: 25px;
        }
        .form-group {
            input,
            textarea {
                width: 100%;
                border-radius: 20px;
                outline: none;
                border: none;
                box-shadow: 0px 2px 6px rgba($color: #000000, $alpha: 0.16);
                padding-left: 23px;
                font-size: 16px;
                font-family: MYRIADPRO-LIGHT;
            }
            input {
                height: 46px;
                margin-bottom: 23px;
            }
            textarea {
                padding: 23px;
                margin-bottom: 23px;
                height: 185px;
                resize: none;
            }
        }
        .btn.btn-subResearch {
            margin: 0 auto;
            button {
                border-radius: 10px;
                border: none;
                height: 26px;
                width: 71px;
            }
            span {
                font-size: 13px;
                margin-left: 7px;
                font-family: MYRIADPRO-BOLD;
            }
        }
    }
    .research__optItem {
        display: block;
        margin: 0 auto;
        border-radius: 25px;
        padding: 10px 20px;
        width: fit-content;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0px;
        }
        span {
            font-family: MYRIADPRO-BOLDCOND;
            font-size: 23px;
            padding-left: 12px;
        }
        img {
            padding-right: 12px;
            vertical-align: text-bottom !important;
            position: relative;
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                width: calc(100% - 10px);
                height: 1px;
                background: #000000;
                content: "";
            }
        }
    }
    .research__blog {
        position: relative;
        &:first-child {
            margin-top: 34px;
        }
        margin-bottom: 45px;
        &:last-child {
            margin-bottom: 0px;
            &::before {
                content: none;
            }
        }
        &::before {
            position: absolute;
            width: 100%;
            height: 1px;
            background: #707070;
            bottom: -22.5px;
            content: "";
        }
    }
    .research__blog--item {
        display: flex;
    }
    .research__blogItem--img {
        position: relative;
        max-width: 449px;
        width: 100%;
        height: 252px;
        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 67%;
            background: linear-gradient(to bottom, #002f4b00, #00090F);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .research__blogItem--content {
        padding: 10px 30px;
        h2 {
            font-family: UTM-COPPERPLATEB;
            font-size: 20px;
            color: map-get($mau, xam);
            margin-bottom: 10px;
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        span {
            font-size: 14px;
            color: map-get($mau, xam);
            font-family: MYRIADPRO-LIGHTIT;
            margin-bottom: 15px;
        }
        h3 {
            font-family: MYRIADPRO-BOLDIT;
            color: map-get($mau, xam);
            font-size: 14px;
            span {
                font-family: MYRIADPRO-LIGHTIT;
                color: map-get($mau, xam);
                font-size: 14px;
            }
        }
        p {
            margin-bottom: 20px;
            font-family: MYRIADPRO-LIGHT;
            color: map-get($mau, xam);
            overflow: hidden;
            display: -webkit-box;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
    }
    .btn {
        cursor: pointer;
        &.btn--readMore {
            padding-right: 14px;
            h4 {
                font-size: 20px;
                font-family: MYRIADPRO-BOLD;
                padding: 8px 20px;
                position: relative;
                &::before {
                    position: absolute;
                    top: 31%;
                    right: -5px;
                    content: "";
                    width: 12px;
                    height: 14px;
                    background: url(../assets/images/research/ar.png);
                    transform: translateX(-50%);
                    background-repeat: no-repeat;
                }
            }
            border-radius: 7px;
            box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
        }
    }
}