section.member__page
	.container
		.member__wrapper--banner.container-1365px
			.member__page--banner
				.banner--img
					img.lazyload.blur-up(data-src=`./assets/images/member/member-banner.png`, alt="something")
				.banner-desc
					h3.title HIỆP HỘI CÔNG CHỨNG VIÊN VIỆT NAM 
					h3.subtitle BAO GỒM 63 HỘI VIÊN
					p.lcl.lcl-4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis...
	.member__wrapper
		.member__wrapper--inner.container-1365px
			h3.tt-u Thành Viên
			.member--list
				-for(var i=0; i<12;i++)
					.member--item.row
						.member--item--img.col-3
							img.lazyload.blur-up(data-src=`./assets/images/member/logo.png`, alt="something")
						.member--item--desc.col-8
							h6.tt-u HIỆP HỘI CÔNG CHỨNG VIÊN TP.HCM
							p.lcl.lcl-3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et...
