section.member__page
	.container
		.member__wrapper--banner.container-1476px
			.member__page--banner
				.banner--img
					img.lazyload.blur-up(data-src=`./assets/images/member/member-banner.png`, alt="something")
				.banner-desc
					h3.title HIỆP HỘI CÔNG CHỨNG VIÊN VIỆT NAM 
					h3.subtitle BAO GỒM 63 HỘI VIÊN
					p.lcl.lcl-4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis...
	.member__wrapper
		.container
			.member__wrapper--inner.container-1476px
				h3.tt-u Thành Viên
				.loading--spinner
					.lds-spinner
						div
						div
						div
						div
						div
						div
						div
						div
						div
						div
						div
						div
				.member--list.row
					-for(var i=0; i<15;i++)
						.member--item
							a(href="member-detail.html")
								.member--item--inner.ov-h
									.member--item--img
										img.ofcv(src=`./assets/images/member/logo.png`, alt="something")
									.member--item--desc
										h6.tt-u HIỆP HỘI CÔNG CHỨNG VIÊN TP.HCM
										p.lcl.lcl-3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et...
				.see-more
					img.lazyload.blur-up(data-src=`./assets/images/member/read-more.png`, alt="something")
					p Xem tất cả
