section.lib__page
	.container_lib.no-gutters.p-0
		.lib__page__wrapper
			.tab-container
				ul.lib--list
					li.lib--item.item-image.tt-u(toggle-for="item-1") Hình Ảnh
					li.lib--item.item-video.tt-u(toggle-for="item-2") Video
					li.lib--item.item-document.tt-u(toggle-for="item-3") Hệ Thống Văn Bản
				.tab-content
					.content(tab-id="item-1")
						.lib__page__img
							.content--gallery.no-gutters.p-0
								-for(var i = 0; i < 12; i++)
									div.item-gallery
										img.lazyload.blur-up(data-src=`./assets/images/lib-image/item.png`, alt="something")
										div.desc-img
											h3.title.lcl.lcl-1 Lorem ipsum dolor sit amet
											p.desc.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Aenean commodo ligula eget dolor. Dol Aenean massa. 
					.content(tab-id="item-2")
						.aboutTab--title.cl-xanh-2.fw-700 LUMA
						.aboutTab--content
							h3.cl-vang.fw-700 LUMA VỚI 25 NĂM HOẠT ĐỘNG
							h5 Trong lĩnh vực bảo hiểm phi nhân thọ với mạng lưới chi nhánh rộng khắp 
								|
								br
								| Việt Nam.
							p Bảo hiểm Bảo Long là công ty cổ phần đầu tiên hoạt động trên lĩnh vực bảo hiểm phi nhân thọ tại Việt Nam. Bảo Long đã không ngừng xây dựng và cải thiện các sản phẩm bảo hiểm của mình nhằm đáp đứng đầy đủ các nhu cầu đa dạng của mọi đối tượng khách hàng.
							ul
								li 25+ năm hoạt động và phát triển trên thị trường
								li 46+ đơn vị thành viên hoạt động kinh doanh tại Việt Nam
								li 100+ sản phẩm bảo hiểm và tái bảo hiểm được tung ra thị trường
								li 800+ đại lý bảo hiểm hoạt động trên phạm vi 55 tỉnh thành trên cả nước.
		.see-more
			img.lazyload.blur-up(data-src=`./assets/images/member/read-more.png`, alt="something")
			p Xem tất cả	
			
