section.Research
	.container
		.research__wrapper.row
			.research__list.col-3.bg-xam-1 
				.research__list--title.bg-main-2
					h3.tt-u.cl-trang các chuyên mục
				.research__list--item
					ul
						li
							a(href="") Lorem ipsum dolor sit amet
						li
							a(href="") Lorem ipsum dolor sit amet
						li
							a(href="") Lorem ipsum dolor sit amet
						li
							a(href="") Lorem ipsum dolor sit amet
						li
							a(href="") Lorem ipsum dolor sit amet
						li
							a(href="") Lorem ipsum dolor sit amet
			.research__content.col-9
