section.Research
	.container
		.research__wrapper.row
			.research__list.col-3.bg-xam-1 
				.research__list--title.bg-main-2
					h3.tt-u.cl-trang các chuyên mục
				.research__list--item
					ul
						li
							a(href="") Lorem ipsum dolor sit amet
						li
							a(href="") Lorem ipsum dolor sit amet
						li
							a(href="") Lorem ipsum dolor sit amet
						li
							a(href="") Lorem ipsum dolor sit amet
						li
							a(href="") Lorem ipsum dolor sit amet
						li
							a(href="") Lorem ipsum dolor sit amet
			.research__content.col-9
				.research__login.row
					.research__login--form.col-8.bg-xam-1
						h3.tt-u.cl-main-2 ĐÓNG GÓP bÀI VIẾT
						form.row(action="")
							.form-group.col-12
								input(type="text", name="" placeholder="Họ tên*")
							.form-group.col-6
								input(type="text", name="" placeholder="Email*")
							.form-group.col-6
								input(type="text", name="" placeholder="Số điện thoại*")
							.form-group.col-12
								textarea(name="", cols="30", rows="10" placeholder="Ý kiến đóng góp*")
							.btn.btn-subResearch
								button.bg-main-2
									img(src="./assets/images/research/icon.png", alt="")
									span.tt-u.cl-trang Gửi
					.research__login--option.col-4
						a.research__optItem.bg-main-2.cl-trang(href="")
							img(src="./assets/images/research/f.png", alt="facebook")
							span Đăng nhập với Facebook
						a.research__optItem.bg-main-2.cl-trang(href="")
							img(src="./assets/images/research/gg.png", alt="facebook")
							span Đăng nhập với Google