.news__events--detail {
	margin-top: 80px;
}
.news__events--inner-content {
	.relate-news {
		padding-left: 50px;
		@media (max-width: 1024.98px) {
			padding-left: 10px;
		}
	}
	@media (max-width: 1025px) {
		flex-direction: column;
		& > div {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
.news__events--inner-title {
	max-width: 970px;
	margin-bottom: 36px;
	h3.title {
		font-size: 30px;
		font-family: UTM-COPPERPLATE;
		color: #002f4b;
		margin-bottom: 15px;
	}
	span {
		font-size: 20px;
		color: #c4851a;
		font-family: MYRIADPRO-REGULAR;
	}
}
.detail-content--post {
	p:first-child {
		padding-top: 30px;
	}
	& > p {
		padding-bottom: 30px;
	}
}
.__main--detail--news {
	border-bottom: 0.5px solid rgba($color: #707070, $alpha: 0.3);
}

.img-for-detail-post-2 {
	.col-4 {
		img:first-child {
			padding-bottom: 15px;
		}
	}
}
.relate-news {
	h3 {
		font-family: UTM-COPPERPLATE;
		font-size: 30px;
		margin-bottom: 64px;
		@media (max-width: 1440px) {
			font-size: 26px;
		}
	}
	.relate-news--inner {
		.relate-news--item {
			display: block;
			width: 100%;
			height: 100%;
			margin-bottom: 31px;
			.img {
				img {
					max-height: 143px;
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: center;
					background-size: cover;
					font-family: 'object-fit: cover, object-position: center';
				}
			}
			p {
				margin-top: 10px;
				font-family: MYRIADPRO-BOLD;
				max-width: 100%;
				color: #707070;
			}
		}
		@media (max-width: 1024.98px) {
			display: flex;
			flex-wrap: wrap;
			& > a {
				-ms-flex: 0 0 33%;
				flex: 0 0 33%;
				max-width: 33;
				padding: 10px;
			}
		}
		@media (max-width: 767.98px) {
            & > a {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
        }
	}
}