section.Introduct
	.introduct__bg
		img(src="./assets/images/intro/bg.png", alt="")
	.container
		.introduct__wapper.container-1365px
			
			.introduct__topContent
				.introduct__content
					.introduct__title
						h2.tt-u HIỆP HỘI CÔNG CHỨNG VIÊN VIỆT NAM
					h3 Lorem ipsum dolor sit amet, consectetuer adipiscing elit
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  Cum sociis natoque penatibus et magnis.Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mad montes, nascetur ridiculus mus.
					p Donec quam felis, ultricies nec, do you in a pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. who Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. Lorem mad Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s ever since vel. Lorem Ipsum has been the industry's standard. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
				.introduct__video
					a(href="introduct.html")
						.introduct__video--img
							img(src="./assets/images/intro/1.png", alt="")