footer
	.footer__wrapper
		.container
			.container-1365px
				.row
					.col-lg-4
						.footer__informations
							.information__item
								a.information__link 310 phố Bà Triệu, P.Lê Đại Hành, Q.Hai Bà Trưng, Tp. Hà Nội
							.information__item
								a.information__link(data-copy="email" href="#") (84-24) 397080569
					.col-lg-2
						.footer__informations
							.information__item
								a.information__link(href="#") Info@email.com
							.information__item
								a.information__link(data-copy="website" href="#") www.website.com
					.col-lg-6
						.footer__forms
							form(action="#")
								.footer__form-group
									label.footer__label Liên kết hữu ích
									.footer__select-control
										select
											option -- Liên kết hữu ích --
											option(value="index.html") Liên kết hữu ích 1
											option(value="index.html") Liên kết hữu ích 2
											option(value="index.html") Liên kết hữu ích 3
								.footer__form-group
									label.footer__label Đăng ký nhận tin
									.footer__input-control
										input(type="text" placeholder="Email" name="Email")
										button.btn.footer__submit(data-url="/submit") ĐĂNG KÝ
	.footer__copyright.bg-main-2
		p.ta-c Copyright © 2020 Your.Designer by Braney