header
	.header__after
	.container
		.header__wrapper.container-1365px
			.header__logo
				a.headerLogo__link(href="index.html")
					img.lazyload.blur-up.dekstop(data-src="./assets/logo.png", alt="")
					img.lazyload.blur-up.mobile(data-src="./assets/logo-mobile.png", alt="")
			.header__nav--top
				.navtop__wrapper
					.header__informations
						.information__item
							a.information__link(href="#" data-paste="website") đang cập nhật
						.information__item
							a.information__link(href="#" data-paste="email") đang cập nhật
					.header__languages.language
						.languages__item.item(data-language="vi")
							a.languages__link(href="#") Vietnamese
						.languages__item.item(data-language="en")
							a.languages__link(href="#") English
					.header__login
						.btn.btn-login
							h5.cl-main-2 Đăng nhập
			.header__nav--bottom
				.navbottom__wrapper
					.navBar(data-btn-back-content-vi="Trở về" data-btn-back-content-en="Back")
						.navBar__item
							a.navBar__link(href="introduct.html") GIỚI THIỆU
							.navBar
								.navBar__item
									a.navBar__link(href="introduct.html") Giới thiệu chung
								.navBar__item
									a.navBar__link(href="#") Sơ đồ tổ chức
								.navBar__item
									a.navBar__link(href="decision.html") Quyết định thành lập
								.navBar__item
									a.navBar__link(href="#") Điều lệ
								.navBar__item
									a.navBar__link(href="affiliated-units.html") Các đơn vị trực thuộc
								.navBar__item
									a.navBar__link(href="executive-committee.html") Ban chấp hành
								.navBar__item
									a.navBar__link(href="#") Ban thường trực
								.navBar__item
									a.navBar__link(href="#") Ban kiểm tra
						.navBar__item
							a.navBar__link(href="news-events.html") TIN TỨC - SỰ KIỆN
						.navBar__item
							a.navBar__link(href="member.html") THÀNH VIÊN
						.navBar__item
							a.navBar__link(href="research.html") NGHIÊN CỨU - TRAO ĐỔI
						.navBar__item
							a.navBar__link(href="libary.html") THƯ VIỆN
						.navBar__item
							a.navBar__link(href="contact.html") LIÊN HỆ
					.navBarHamburger__wrapper.mobile
					.navSearch
						.navSearch__wrapper
							.navSearch__btn
								img.svg(data-src="./assets/icons/search.svg", alt="BUTTON SEARCH")