section.MainSlider__Banners
	.swiper-container
		.swiper-wrapper
			-for(i=1;i<4;i++)
				.swiper-slide
					a.main_banner__link(href="#")
						// image-size: 1920x960
						img(src="./assets/images/banners/banner-main--1.png", alt="main-banner")
		.swiper-pagination