// SLIDER INIT WHEN #js-page-verify have class "index-page"
section.MainSlider__Banners
	.swiper-container
		.swiper-wrapper
			// ADD MORE IMAGE ALL THIS SECITON
			.swiper-slide
				a.main_banner__link(href="#")
					// image-size: 1920x965 (index)
					// image-size: 1920x665px (subpage)
					.main_banner__img.ov-h
						img.ofcv(src=`${linkBanner}`, alt="BANNER")
					.main_banner__desc
						h3 HIỆP HỘI CÔNG CHỨNG VIÊN VIỆT NAM
						h2 KẾT GIÁ TRỊ, NỐI SỨC MẠNH !
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
						.btn--readMoreBanner
							h4 XEM THÊM
		.swiper-pagination
	.pagesBanner__content
		.container.h-100
			.container-1365px.h-100
				.pagesBanner__content__wrapper
					include _breadcrumb
					.pagesBanner__title
						h1=`${titleBanner}`