.Pages__Banner
	.pagesBanner__img.ov-h
		img.lazyload.blur-up.ofcv(data-src=`${linkBanner}`, alt="BANNER")
	.pagesBanner__content
		.container.h-100
			.container-1365px.h-100
				.pagesBanner__content__wrapper
					include _breadcrumb
					.pagesBanner__title
						h1=`${titleBanner}`