ul.pagination
	li.pagination-prev
		a(href="#")
			img.lazyload.blur-up(data-src="./assets/icons/prev-pagination.svg", alt="")
	li
		a(href="#") 1
	li.active
		a(href="#") 2
	li
		a(href="#") 3
	li
		a(href="#") 4
	li.pagination-dot
		a(href="#") ...
	li
		a(href="#") 981
	li.pagination-next
		a(href="#")
			img.lazyload.blur-up(data-src="./assets/icons/next-pagination.svg", alt="")