.home--hotnews {
	margin: 50px 0;
}
.home--hotnews__wrapper--inner {
	@media (max-width: 1024.98px) {
		display: flex;
		flex-direction: column !important;
		.col-5 {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 10px;
			.first-news {
				display: flex;
				& > div {
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;
				}
				p {
					padding-top: 0;
					padding-left: 20px;
					-webkit-line-clamp: 4;
				}
				@media (max-width: 575.98px) {
					max-width: 100%;
					&:first-child {
						-ms-flex: 0 0 222px !important;
						flex: 0 0 222px !important;
						max-width: 222px !important;
					}
					&:last-child {
						-ms-flex-preferred-size: 0;
						flex-basis: 0;
						-ms-flex-positive: 1;
						flex-grow: 1;
						max-width: 100%;
					}
				}
			}
			
		}
		.col-7 {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			
			.col-8 {
				-ms-flex: 0 0 65%;
				flex: 0 0 65%;
				max-width: 65%;
				.another-news--item {
					height: 100%;
					display: flex;
					flex-direction: column;
					.item--img {
						-ms-flex: 0 0 222px;
						flex: 0 0 222px;
						max-width: 222px;
					}
				}
			}
			.col.4 {
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%;
			}
			@media (max-width: 767.98px) {
				.row {
					flex-direction: column;
					.col-8 {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
					}
					.col-4 {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
					}
				}
			}
		}
	}
}
.first-news {
	p {
		font-size: 22px;
		font-family: MYRIADPRO-BOLD;
		padding-top: 26px;
		color: #002f4b;
	}
	img {
		transition: .7s all ease-in-out;
	}
	@media (min-width: 1025px) {
		img:hover {
			transform: scale(1.1);
		}
		&:hover {
			cursor: pointer;
		}
	}
	@media (max-width: 768px) {
		max-width: 100%;
	}
}
.hot-news-banner {
	.swiper-slide {
		img {
			height: 382px;
		}
	}
}
.another-news--item {
	& > div {
		padding: 13px 0;
		border-bottom: 0.5px solid rgba($color: #707070, $alpha: 0.5);
	}
	div:first-child {
		padding-top: 0;
	}
	.item__wrapper {
		display: flex;
		flex-wrap: wrap;

		.item--img {
			-ms-flex: 0 0 222px;
			flex: 0 0 222px;
			max-width: 222px;
			img {
				transition: .7s all ease-in-out;
			}
			@media (min-width: 1025px) {
				&:hover {
					cursor: pointer;
					img {
						transform: scale(1.1);
					}
				}
			}
		}
		.item--desc {
			padding-left: 32px;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			a {
				color: #002f4b;
				font-family: MYRIADPRO-BOLD;
			}
			@media (min-width: 1025px) {
				&:hover {
					cursor: pointer;
				}
			}
		}
		@media (max-width: 1200px) {
			.item--img {
				-ms-flex: 0 0 140px;
				flex: 0 0 140px;
				max-width: 140px;
			}
			.item--desc {
				padding-left: 10px;
			}
		}
	}
	
}