section.home--hotnews
	.container
		.home--hotnews__wrapper.container-1365px.no-gutters
			h3.tt-u 
				span Điểm Tin
			.home--hotnews__wrapper--inner.row
				.col-5
					.first-news.ov-h
						a(href="#")
							img.ofcv(src="./assets/images/index/hot-news/hot-news-0.jpg", alt="")
							p.lcl.lcl-2 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, qui? Quos voluptatem perferendis neque facere distinctio, repudiandae dignissimos autem, voluptates inventore eius sequi praesentium a nemo possimus voluptate iusto. Ad!
				.col-7
					.row
						.col-8
							.another-news--item
								-for(var i = 0; i < 3; i++)
									div.item__wrapper
											div.item--img.ov-h
												a(href="#")
													img.ofcv(src=`./assets/images/index/hot-news/hot-news-${i+1}.jpg`, alt="something")
											.item--desc
												a(href="#")
													p.lcl.lcl-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident est odit recusandae magni dolorem. Magni adipisci voluptas sunt repellendus quos quis ipsa perferendis ducimus amet. Sed praesentium libero quasi odit?
						.col-4
							.hot-news-banner
								.swiper-container
									.swiper-wrapper
										.swiper-slide
											img.ofcv(src="./assets/images/index/hot-news/banner.png", alt="")
