section.home__Lib__video
	img.home__lib__video__banner(src="./assets/images/index/video/banner_video_lib.png", alt="")
	.container
		.home__lib__video__wrapper.container-1365px
			h3
				span THƯ VIỆN - VIDEO
			.home__lib__video__wrapper--inner.row
				.lib__video--left.col-6
					.swiper--left__wrapper
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.img
										img.ofcv(src='./assets/images/index/video/swiper_left-1.png')
									.youtube-api(data-url="https://www.youtube.com/watch?v=mN_e5-fcGU4")
								.swiper-slide
									.img
										img.ofcv(src='./assets/images/index/video/swiper_left-1.png')
								.swiper-slide
									.img.ov-h
										img.ofcv(src='./assets/images/index/video/swiper_left-1.png')
								.swiper-slide
									.img.ov-h
										img.ofcv(src='./assets/images/index/video/swiper_left-1.png')
								.swiper-slide
									.img.ov-h
										img.ofcv(src='./assets/images/index/video/swiper_left-1.png')
								.swiper-slide
									.img.ov-h
										img.ofcv(src='./assets/images/index/video/swiper_left-1.png')
						// Navigation
						.swiper-button-next.swiper-button-white
						.swiper-button-prev.swiper-button-white
				.lib__images--right.col-6
					.slider__wrapper
						.swiper--right__wrapper-1
							.swiper-container.gallery-top
								.swiper-wrapper
									.swiper-slide
										img(src='./assets/images/index/video/eventos-1.png')
									.swiper-slide
										img(src='./assets/images/index/video/eventos-1.png')
									.swiper-slide
										img(src='./assets/images/index/video/eventos-1.png')
									.swiper-slide
										img(src='./assets/images/index/video/eventos-1.png')
							// Add Arrows
							.swiper-button-next.swiper-button-white
							.swiper-button-prev.swiper-button-white
						.swiper--right__wrapper-2
							.swiper-container.gallery-thumbs
								.swiper-wrapper
									.swiper-slide
										img(src='./assets/images/index/video/eventos-1.png')
									.swiper-slide
										img(src='./assets/images/index/video/eventos-1.png')
									.swiper-slide
										img(src='./assets/images/index/video/eventos-1.png')
				.home__lib__video__banner--design-1
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./assets/images/index/video/banner_design-1.png", alt="")
				.home__lib__video__banner--design-2
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								img(src="./assets/images/index/video/banner_design-2.png", alt="")