section.home__member
	.container
		.home__member__wrapper.container-1365px
			h2.tt-u Thành Viên
			.home__member__wrapper--inner
				.swiper-container
					.swiper-wrapper
						-for(var i = 0;i <6;i++)
							.swiper-slide
								.home__member--item
									.item-img__wrapper
										img(src="./assets/images/index/member/member.png", alt="")

