section.lib__page
	.container_lib.no-gutters.p-0
		.lib__page__wrapper
			.tab-container
				ul.lib--list
					li.lib--item.item-image--tab.tt-u(toggle-for="item-1",data-url="")
						h3  Hình Ảnh
					li.lib--item.item-video--tab.tt-u(toggle-for="item-2",data-url="")
						h3 Video
					li.lib--item.item-document--tab.tt-u(toggle-for="item-3",data-url="")
						h3 Hệ Thống Văn Bản
				//- .loading--spinner
				//- 	.lds-spinner
				//- 		div
				//- 		div
				//- 		div
				//- 		div
				//- 		div
				//- 		div
				//- 		div
				//- 		div
				//- 		div
				//- 		div
				//- 		div
				//- 		div
				.tab-content
					.content(tab-id="item-1").image-content-tab
						.lib__page__img
							.content--gallery.no-gutters.p-0
								-for(var i = 0; i< 12; i++)	
									.item-gallery.ov-h
										a.item-gallery--popup(data-fancybox, data-src="", data-options='{"touch" : false}'  href="javascript:;")
											img(src=`./assets/images/lib-image/item.png`, alt="something")
										div.desc-img
											h3.title.lcl.lcl-1 Lorem ipsum dolor sit amet
											p.desc.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Aenean commodo ligula eget dolor. Dol Aenean massa. 
									.modalimage(style='display: none;')
										.slider--popup_main
											.swiper-container.gallery-top
												.swiper-wrapper
													.swiper-slide
														img(src='./assets/images/lib-image/slider-lib-img.png')
													.swiper-slide
														img(src='./assets/images/lib-image/slider-lib-img.png')
													.swiper-slide
														img(src='./assets/images/lib-image/slider-lib-img.png')
													.swiper-slide
														img(src='./assets/images/lib-image/slider-lib-img.png')
											// Add Arrows
											.swiper-button-next.swiper-button-white
											.swiper-button-prev.swiper-button-white
										.slider--popup_thumb
											.swiper-container
												.swiper-wrapper
													.swiper-slide
														img(src='./assets/images/lib-image/slider-lib-img.png')
													.swiper-slide
														img(src='./assets/images/lib-image/slider-lib-img.png')
													.swiper-slide
														img(src='./assets/images/lib-image/slider-lib-img.png')
													.swiper-slide
														img(src='./assets/images/lib-image/slider-lib-img.png')
						.see-more
							.see-more-images(data-url="")
								img.lazyload.blur-up(data-src=`./assets/images/member/read-more.png`, alt="something")
								p Xem tất cả
					.content(tab-id="item-2").video-content-tab
						.lib__page__video.container
							.content--video
								-for(var i = 0; i < 9; i++)
									.isVideo
										a(data-fancybox, data-width="990", data-height="641", href="https://www.youtube.com/watch?v=JNDfatH4BRM")
											div.item-video
												img.ofcv(src=`./assets/images/lib-image/video.png`, alt="something")
												div.desc-video
													h3.title.lcl.lcl-1 Lorem ipsum dolor sit amet
													p.desc.lcl.lcl-2 29/02/2020 
						.see-more
							.see-more-video(data-url="")
								img(src=`./assets/images/member/read-more.png`, alt="something")
								p Xem tất cả
					.content(tab-id="item-3").document-content-tab
						.lib__page__document.container
							.lib__page__document.container-1365px
								.document--inner
									h3.title xem và download tài liệu hệ thống văn bản
									p.lcl.lcl-2.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Dol Aenean massa. Cum sociis natoque penatibus et...
								.document--inner--content
									.row
										-for(var i = 0; i< 10;i ++)
											div.item__wrapper.col-6
												.item__wrapper--inner
														div.book-icon
															img.svg(data-src=`./assets/images/lib-image/document-book.svg`, alt="something")
														div.title-desc
															.dowload-document-content
																	h3.tt-u.lcl.lcl-1 Lorem ipsum dolor sit amet,  adipiscing elit.
																p 
																	!= "<span>Ngày cập nhật:</span> 10/01/20 "
														div.download-document--btn
															a(href="./downloads/test.pdf" download)
																img.svg(data-src=`./assets/images/lib-image/document-dow.svg`, alt="something")
														.popup--document(style='display: none;')
															.inner--document
																h2.tt-u Hệ Thống Văn Bản
																a(href="./downloads/test.pdf", download) Dowload tài liệu
																	img.lazyload.blur-up(data-src="./assets/images/lib-image/dowload-icon.png", alt="something")
																.wrapper--content--iframe.ov-h
																	.top-header-bg
																	.wrapper--content
																		p.header--content lorem ipsum dolor sit amet adipiscing elit - 29/02/2020 
																		h3.title.tt-u Lorem Ipsum
																		h6.sub-title.tt-u Dolor Sit Amet
																		iframe(src='https://docs.google.com/viewer?url=http://207.148.69.88:8003/assets/bao-long-update.pdf&embedded=true',  width="100%" ,height="500px")
						.see-more
							.see-more-document(data-url="")
								img.lazyload.blur-up(data-src=`./assets/images/member/read-more.png`, alt="something")
								p Xem tất cả

		
