section.LikeAndShare
	.container
		.container-1365px.lAS__wrapper
			.lAS__list(data-href="https://developers.facebook.com/docs/plugins/")
				a.lAS__listItem(href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&ampsrc=sdkpreparse")
					.lAS__list--item
						.lAS__item--img
							img(src="./assets/images/research/share.png", alt="")
						h4 Chia sẽ
				a.lAS__listItem.like(href="", data-url="",isLike="false", id="")
					.lAS__list--item
						.lAS__item--img
							img(src="./assets/images/research/like.png", alt="")
						h4
							!= "Thích <span>0</span>" 
				a.lAS__listItem(href="")
					.lAS__item--img
						img(src="./assets/images/research/f-blue.png", alt="")