section.Related
	.container
		.related__wrapper.container-1365px
			h2 TIN LIÊN QUAN
			.row
				-for(var i =1;i<=5;i++)
					.related__col
						.related__col--img
							img(src="./assets/images/research/r1.png", alt="")
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.