.lib--list {
	margin: 79px 0;
	display: flex;
	list-style-type: none;
	padding-left: 0;
	justify-content: center;

	li {
		cursor: pointer;
		user-select: none;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ffffff;
		border-radius: 10px;
		min-width: 163px;
		height: 63px;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
		border-radius: 7px;
		h3 {
			font-family: UTM-COPPERPLATEB;
			color: #002f4b;
			font-size: 24px;
		}
		@media (max-width: 767.98px) {
			height: 43px;
			padding: 5px 10px;
			h3 {
			font-size: 16px;
			}
		}
	}

	.item-video--tab {
		margin-left: 107px;
		margin-right: 107px;
		@media (max-width: 1024.98px) {
			margin-left: 30px;
			margin-right: 30px;
		}
		
	}

	li.active {
		background: #c4851a;

		h3 {
			color: map-get($mau, trang);
		}
	}
	

}

.lib__page__img {
	margin-bottom: 55px;
}

.content--gallery {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-column-gap: 0px;
	grid-row-gap: 10px;
	width: 100%;
	@media (max-width: 1024.98px) {
		grid-template-columns:auto auto auto;
	}
	.item-gallery {
		position: relative;
		width: 100%;
		img {
			width: 100%;
			transition: .7s all ease-in-out;
		}
	}

	.desc-img {
		z-index: 100;
		position: absolute;
		bottom: 20px;
		left: 30px;
		color: #fff;
		max-width: 414px;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s, visibility 0.2s;
		pointer-events: none;

		h3 {
			font-family: UTM-COPPERPLATEB;
			font-size: 16px;
		}
	}

	@media (min-width: 1025px) {
		.item-gallery:hover {
			cursor: pointer;
			&::before {
				position: absolute;
				pointer-events: none;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				background: url(../assets/images/lib-image/hover-img.png) no-repeat;
				background-size: cover;
			}

			img {
				transform: scale(1.1);
			}
		}

		.item-gallery:hover .desc-img {
			visibility: visible;
			opacity: 1;
		}
	}
}
.modalimage.fancybox-content {
	background: none !important;
	max-width: 924px;
	max-height: 646px;
	padding: 0 44px;
	.slider--popup_main {
		padding-bottom: 50px;
		.swiper-button-prev,
		.swiper-button-next {
			position: absolute;
			top: 65% !important;
			width: calc(var(--swiper-navigation-size) / 44 * 27);
			height: var(--swiper-navigation-size);
			margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
			z-index: 10;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--swiper-navigation-color, var(--swiper-theme-color));
		}
	}
	.slider--popup_thumb {
		padding: 0 44px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		.swiper-slide {
			border: 5px solid rgb(255, 255, 255);
		}
	}
	.fancybox-button {
		width: 41px !important;
		height: 41px !important;
	}
	.fancybox-button.fancybox-close-small {
		background: rgba($color: #fff, $alpha: 0.5) !important;
		border-radius: 7px;
	}
	.swiper-button-prev,
	.swiper-container-rtl .swiper-button-next {
		left: 46%;
		width: 33px;
		height: 33px;
	}
	.swiper-button-next,
	.swiper-container-rtl .swiper-button-prev {
		right: 46%;
		width: 33px;
		height: 33px;
	}
	.swiper-button-next:after,
	.swiper-container-rtl .swiper-button-prev:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 33px;
		height: 33px;
		z-index: 10;
		cursor: pointer;
		color: var(--swiper-navigation-color, var(--swiper-theme-color));
		background: url(../assets/images/index/video/next-right.png) no-repeat;
	}
	.swiper-button-prev:after,
	.swiper-container-rtl .swiper-button-next:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 33px;
		height: 33px;
		z-index: 10;
		cursor: pointer;
		color: var(--swiper-navigation-color, var(--swiper-theme-color));
		background: url(../assets/images/index/video/next-left.png) no-repeat;
	}
}


// VIDEO TAB
.lib__page__video {
	margin-bottom: 75px;

	.content--video {
		display: grid;
		grid-gap: 46px 16px;
		grid-template-columns: auto auto auto;
		padding: 10px;
		@media (max-width: 1024.98px) {
			grid-template-columns: auto auto;
			grid-row-gap: 20px;
			grid-column-gap: 10px;
		}
		
		.item-video {
			position: relative;
		}

		.desc-video {
			z-index: 999;
			position: absolute;
			bottom: 20px;
			left: 30px;
			color: #fff;
			max-width: 414px;
			pointer-events: none;

			h3 {
				font-family: UTM-COPPERPLATE;
				font-size: 16px;
			}
			p {
				font-family: MYRIADPRO-REGULAR;
			}
			@media (max-width: 767.98px) {
				bottom: 0px;
				left: 10px;
				h3 {
					font-size: 14px;
				}
				p {
					font-size: 14px;
				}
			}
		}
	}
}

// Document TAB
#modal {
	width: 1365px;

	h2 {
		font-size: 30px;
		font-family: UTM-COPPERPLATEB;
		color: #002f4b;
	}
	a {
		display: block;
		text-align: right;
		font-family: MYRIADPRO-LIGHTIT;
		font-size: 18px;
		margin-bottom: 18px;
		img {
			margin-left: 20px;
		}
	}
	.top-header-bg {
		height: 46px;
		background-color: #c4851a;
	}
	.wrapper--content {
		height: 100%;
		overflow-y: auto;
		box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
		padding: 60px 110px;
		.header--content {
			font-size: 18px;
			font-family: MYRIADPRO-LIGHTIT;
		}
		h3.title {
			font-size: 30px;
			font-family: UTM-COPPERPLATEB;
		}
		h6.sub-title {
			font-size: 16px;
			font-family: UTM-COPPERPLATEB;
			margin-bottom: 55px;
		}
	}
}
.document-content-tab {
	padding-top: 56px;
	background: #f4f5f9;

	.document--inner {
		margin-bottom: 60px;
		max-width: 748px;

		h3.title {
			font-family: UTM-COPPERPLATE;
			font-size: 30px;
			color: #c4851a;
			margin-bottom: 17px;
		}
		@media (max-width: 1024.98px) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.document-date {
		margin-bottom: 23px;
		margin-left: 60px;
		display: inline-block;

		span {
			font-family: MYRIADPRO-REGULAR;
			color: #c4851a;
			font-size: 14px;
		}
	}

	.document--inner--content {
		padding: 0 10px;
		margin-bottom: 57px;
		@media (max-width: 1024.98px) {
			.col-6 {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				.item__wrapper--inner {
					float: none !important;
					justify-content: center;
				}
			}
		}
		.item__wrapper {
			padding-bottom: 15px;
			margin-bottom: 35px;
			border-bottom: 1px solid rgba($color: #d6d6d6, $alpha: 0.5);
		
		}

		.item__wrapper--inner {
			display: flex;
			
			.title-desc {
				padding-left: 25px;
				h3 {
					font-size: 18px;
					color: #002f4b;
					font-family: MYRIADPRO-BOLD;
				}

				p {
					font-size: 14px;
					color: #002f4b;
					font-family: MYRIADPRO-LIGHTIT;
					span {
						font-family: MYRIADPRO-BOLDIT;	
					}
				}

				.dowload-document-content {
					padding-right: 42px;
				}
			}
			.download-document--btn {
				align-self: center;
				a {
					border-left: 1px solid rgba($color: #002f4b, $alpha: 0.25);
					padding-left: 15px;
				}
			}
			@media (min-width: 1025px) {
				&:hover {
					cursor: pointer;
					.book-icon {
						svg {
							path {
								fill: #c4851a;
							}

							rect {
								fill: #c4851a;
							}
						}
					}

					.title-desc {
						h3 {
							color: #c4851a;
						}

						p {
							color: #707070 !important;
						}
						
					}
					.download-document--btn {
						a {
							border-left: 1px solid rgba($color: #c4851a, $alpha: 0.25);
							svg {
								path {
									fill: #c4851a;
								}
	
								rect {
									fill: #c4851a;
								}
							}
						}
					}
				}
			}
		}
	}
}

.modalimage.fancybox-content {
	background: none !important;
	max-width: 924px;
	max-height: 646px;
	width: 100%;
	padding: 0 44px;

	.slider--popup_main {
		padding-bottom: 50px;

		.swiper-button-prev,
		.swiper-button-next {
			position: absolute;
			top: 65% !important;
			width: calc(var(--swiper-navigation-size) / 44 * 27);
			height: var(--swiper-navigation-size);
			margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
			z-index: 10;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--swiper-navigation-color, var(--swiper-theme-color));
		}
	}

	.slider--popup_thumb {
		padding: 0 44px;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		.swiper-slide {
			border: 5px solid rgb(255, 255, 255);
		}
	}

	.fancybox-button {
		width: 41px !important;
		height: 41px !important;
	}

	.fancybox-button.fancybox-close-small {
		background: rgba($color: #fff, $alpha: 0.5) !important;
		border-radius: 7px;
	}

	.swiper-button-prev,
	.swiper-container-rtl .swiper-button-next {
		left: 46%;
		width: 33px;
		height: 33px;
	}

	.swiper-button-next,
	.swiper-container-rtl .swiper-button-prev {
		right: 46%;
		width: 33px;
		height: 33px;
	}

	.swiper-button-next:after,
	.swiper-container-rtl .swiper-button-prev:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 33px;
		height: 33px;
		z-index: 10;
		cursor: pointer;
		color: var(--swiper-navigation-color, var(--swiper-theme-color));
		background: url(../assets/images/index/video/next-right.png) no-repeat;
	}

	.swiper-button-prev:after,
	.swiper-container-rtl .swiper-button-next:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 33px;
		height: 33px;
		z-index: 10;
		cursor: pointer;
		color: var(--swiper-navigation-color, var(--swiper-theme-color));
		background: url(../assets/images/index/video/next-left.png) no-repeat;
	}
}

.popup--document {
	width: 1365px;

	h2 {
		font-size: 30px;
		font-family: UTM-COPPERPLATEB;
		color: #002f4b;
	}
	a {
		display: block;
		text-align: right;
		font-family: MYRIADPRO-LIGHTIT;
		font-size: 18px;
		margin-bottom: 18px;
		img {
			margin-left: 20px;
		}
	}
	.wrapper--content--iframe {
		border-radius: 6px;
		box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
	}
	.top-header-bg {
		width: 100%;
		height: 46px;
		background-color: #c4851a;
	}
	.wrapper--content {
		height: 100%;
		overflow-y: auto;
		padding: 40px 80px 0 80px;
		.header--content {
			font-size: 18px;
			font-family: MYRIADPRO-LIGHTIT;
		}

		h3.title {
			font-size: 30px;
			font-family: UTM-COPPERPLATEB;
			color: #002F4B;
		}

		h6.sub-title {
			font-size: 16px;
			font-family: UTM-COPPERPLATEB;
			margin-bottom: 35px;
			color: #002F4B;
		}
	}
}

.loading--spinner {
	display: flex;
	justify-content: center;
	.lds-spinner {
		color: official;
		display: inline-block;
		position: relative;
		width: 80px;
		height: 80px;
	  }
	  .lds-spinner div {
		text-align: center;
		transform-origin: 40px 40px;
		animation: lds-spinner 1.2s linear infinite;
	  }
	  .lds-spinner div:after {
		content: " ";
		display: block;
		position: absolute;
		top: 3px;
		left: 37px;
		width: 6px;
		height: 18px;
		border-radius: 20%;
		background: #000;
	  }
	  .lds-spinner div:nth-child(1) {
		transform: rotate(0deg);
		animation-delay: -1.1s;
	  }
	  .lds-spinner div:nth-child(2) {
		transform: rotate(30deg);
		animation-delay: -1s;
	  }
	  .lds-spinner div:nth-child(3) {
		transform: rotate(60deg);
		animation-delay: -0.9s;
	  }
	  .lds-spinner div:nth-child(4) {
		transform: rotate(90deg);
		animation-delay: -0.8s;
	  }
	  .lds-spinner div:nth-child(5) {
		transform: rotate(120deg);
		animation-delay: -0.7s;
	  }
	  .lds-spinner div:nth-child(6) {
		transform: rotate(150deg);
		animation-delay: -0.6s;
	  }
	  .lds-spinner div:nth-child(7) {
		transform: rotate(180deg);
		animation-delay: -0.5s;
	  }
	  .lds-spinner div:nth-child(8) {
		transform: rotate(210deg);
		animation-delay: -0.4s;
	  }
	  .lds-spinner div:nth-child(9) {
		transform: rotate(240deg);
		animation-delay: -0.3s;
	  }
	  .lds-spinner div:nth-child(10) {
		transform: rotate(270deg);
		animation-delay: -0.2s;
	  }
	  .lds-spinner div:nth-child(11) {
		transform: rotate(300deg);
		animation-delay: -0.1s;
	  }
	  .lds-spinner div:nth-child(12) {
		transform: rotate(330deg);
		animation-delay: 0s;
	  }
	  @keyframes lds-spinner {
		0% {
		  opacity: 1;
		}
		100% {
		  opacity: 0;
		}
	  }
	  
}