section.news__events
	.container
		.news__events__wrapper.container-1365px
			.tab-container
				ul.list-tab.news__events--list
					li.news--item.tt-u(toggle-for="item-1") Tin Tức 
					li.events--item.tt-u(toggle-for="item-1") Sự Kiện
				.tab-content
					.content(tab-id="item-1")
						.inner--tab-content
							-for(var i = 0; i<5; i++)
								.news--item--inner--content
									.news--item--img
										img.lazyload.blur-up(data-src=`./assets/images/news-events/item-${i +1 }.png`, alt="")
									.new--item--summary
										h3.title.lcl.lcl-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ut fugiat expedita quidem vitae sit ullam alias velit voluptates minus temporibus impedit unde minima ducimus cum quod, earum magni culpa!
										span 29/02/2020
										p.lcl.lcl-2.desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero aliquid corporis dolor sapiente culpa velit ut, repellat deserunt nesciunt alias, veniam quisquam esse odio, dolores unde quibusdam tempora ab a!
										a.btn(href="#") Xem Them
