section.lib__page
	.container_lib.no-gutters.p-0
		.lib__page__wrapper
			.tab-container
				ul.lib--list
					li.lib--item.item-image--tab.tt-u(toggle-for="item-1",data-url="")
						h3  Hình Ảnh
					li.lib--item.item-video--tab.tt-u(toggle-for="item-2",data-url="")
						h3 Video
					li.lib--item.item-document--tab.tt-u(toggle-for="item-3",data-url="")
						h3 Hệ Thống Văn Bản
				.tab-content
					.content(tab-id="item-1").image-content-tab
						.lib__page__img
							.content--gallery.no-gutters.p-0
								-for(var i = 0; i < 12; i++)
									div.item-gallery
										img.lazyload.blur-up(data-src=`./assets/images/lib-image/item.png`, alt="something")
										div.desc-img
											h3.title.lcl.lcl-1 Lorem ipsum dolor sit amet
											p.desc.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Aenean commodo ligula eget dolor. Dol Aenean massa. 
						.see-more
							.see-more-images(data-url="")
								img.lazyload.blur-up(data-src=`./assets/images/member/read-more.png`, alt="something")
								p Xem tất cả
					.content(tab-id="item-2").video-content-tab
						.lib__page__video.container
							.content--video
								-for(var i = 0; i < 9; i++)
									.isVideo
										div.item-video
											img.lazyload.blur-up(data-src=`./assets/images/lib-image/video.png`, alt="something")
											div.desc-video
												h3.title.lcl.lcl-1 Lorem ipsum dolor sit amet
												p.desc.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, Aenean commodo ligula eget dolor. Dol Aenean massa. 
						.see-more
							.see-more-video(data-url="")
								img.lazyload.blur-up(data-src=`./assets/images/member/read-more.png`, alt="something")
								p Xem tất cả
					.content(tab-id="item-3").document-content-tab
						.lib__page__document.container
							.lib__page__document.container-1365px
								.document--inner
									h3.title xem và download tài liệu hệ thống văn bản
									p.lcl.lcl-2.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Dol Aenean massa. Cum sociis natoque penatibus et...
								div.document-date
									span 29/02/2020 
								.document--inner--content.row
									-for(var i = 0; i< 10;i ++)
										div.item__wrapper.col-6
											.item__wrapper--inner.row
												div.col-1
													img.svg(data-src=`./assets/images/lib-image/document-book.svg`, alt="something")
												div.col-10
													h3 Lorem ipsum dolor sit amet,  adipiscing elit.
													p
														!= "<span>Ngày cập nhật: </span>10/01/20"
												div.col-1
													div
														img.svg(data-src=`./assets/images/lib-image/document-dow.svg`, alt="something")
						.see-more
							.see-more-document(data-url="")
								img.lazyload.blur-up(data-src=`./assets/images/member/read-more.png`, alt="something")
								p Xem tất cả

		
