section.Affiliated-units
	.container
		.container-1088px
			.row.no-gutters
				.unit__wrapper
					.unit__content
						h2 ĐƠN VỊ TRỰC THUỘC
						h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit
						p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  Cum sociis natoque penatibus et magnis.Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mad montes, nascetur ridiculus mus.
					.unit__row--list.row
						.unit__col.col-6
							h3 Lorem ipsum dolor sit amet :
							ul.dot
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						.unit__col.col-6
							h3 Lorem ipsum dolor sit amet :
							ul.no-pd
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
								li Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
