.news__events {
	margin: 80px 0;
	@media (max-width: 575.98px) {
		margin: 40px 0;
	}
}

ul.news__events--list {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	justify-content: center;
	margin-bottom: 90px;
	li {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f1f0f0;
		border-radius: 10px;
		width: 100%;
		max-width: 154px;
		height: 63px;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
		border-radius: 7px;
		line-height: 1px;
		a {
			font-family: UTM-COPPERPLATEB;
			color: #002f4b;
			font-size: 24px;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	li+ li {
		margin-left: 130px;
		@media (max-width: 575.98px) {
			margin-left: 40px;
		}
	}
	li.active {
		background: #c4851a;
		a {
			color: map-get($mau, trang);
		}
	}
	@media (max-width: 575.98px) {
		margin-bottom: 40px;
	}
}

.inner--tab-content {
	margin-bottom: 100px;
	& > a:not(:last-child) {
		border-bottom: 1px solid rgba($color: #707070, $alpha: 0.7);
		padding-bottom: 30px;
		margin-bottom: 30px;
	}
}

.news--item--inner--content {
	@media (min-width: 1025px) {
		&:hover {
			.research__blogItem--img {
				img {
					transform: scale(1.1);
					transition: 1s all ease-in-out;
				}
			}
			.btn {
				&.btn--readMore {
					background: map-get($mau, main-2);
					transition: 1s all ease-in-out;
					h4 {
						color: white;
						&::before {
							background: url(../assets/images/news-events/hover-readmore.png);
						}
					}
				}
			}
		}
	}
	&:last-child() {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	display: flex;
	.news--item--img {
		overflow: hidden;
		-ms-flex: 0 0 570px;
		flex: 0 0 570px;
		max-width: 570px;
		max-height: 324px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			font-family: 'object-fit: cover, object-position: center';
			background-size: cover;
		}
	}
	.new--item--summary {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		padding-left: 44px;
	
	}
	@media (max-width: 1024.98px) {
		flex-wrap: nowrap;
		.new--item--summary {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			p.desc {
			margin-top: 0;
			margin-bottom: 10px;
			}
		}
		.news--item--img {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				font-family: 'object-fit: cover, object-position: center';
				background-size: cover;
			}
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	@media (max-width: 575.98px) {
		flex-direction: column;
		.news--item--img {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
		.new--item--summary {
			padding-left: 0;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
.news--item--img {
	position: relative;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		max-width: 570px;
		width: 100%;
		height: 100%;
		background-image: url(../assets/images/news-events/background-after.png);
	}
}
.new--item--summary {
	max-height: 324px;
	align-self: center;
	h3.title {
		font-size: 30px;
		font-family: UTM-COPPERPLATE;
		color: #002f4b;
	}
	span {
		font-size: 16px;
		color: #c4851a;
		font-family: MYRIADPRO-REGULAR;
	}
	p.desc {
		font-size: 16px;
		font-family: MYRIADPRO-LIGHT;
		margin: 41px 0 32px 0;
	}
	.btn {
		cursor: pointer;
		&.btn--readMore {
			padding-right: 14px;
			h4 {
				font-size: 20px;
				font-family: MYRIADPRO-BOLDIT;
				padding: 8px 20px;
				position: relative;
				@media (max-width: 768.98px) {
					font-size: 14px;
				}
				&::before {
					position: absolute;
					top: 31%;
					right: -5px;
					content: '';
					width: 12px;
					height: 14px;
					background: url(../assets/images/research/ar.png);
					transform: translateX(-50%);
					background-repeat: no-repeat;
					@media (max-width: 768.98px) {
						top: 37%;
						right: 0px;
						width: 9px;
						height: 10px;
						background-size: 100% 100%;
					}
				}
			}
			border-radius: 7px;
			box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
			
		}
	}
}
