.news__events {
	margin: 80px 0;
}
.news__events__wrapper {
}

ul.news__events--list {
	display: flex;
	list-style-type: none;
	padding-left: 0;
	justify-content: center;
	margin-bottom: 60px;
	li {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f1f0f0;
		border-radius: 10px;
		min-width: 154px;
		height: 63px;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
		border-radius: 7px;
		font-family:UTM-COPPERPLATEB;
		color: #002F4B;
		font-size: 30px;
		padding: 13px 20px;
		+ .events--item {
			margin-left: 130px;
		}
		@media (max-width: 512px) {
			height: 33px;
			+ .events--item {
				margin-left: 40px;
			}
		}
	}
	li.active {
		background: #C4851A;
		color: map-get($mau, trang);
	}
}

.inner--tab-content {
	& > div:not(:last-child) {
		border-bottom: 1px solid rgba($color: #707070, $alpha: 0.7);
	}
}

.news--item--inner--content {
	padding: 30px 0;
	
	display: flex;
	flex-wrap: wrap;
	.news--item--img {
		-ms-flex: 0 0 570px;
		flex: 0 0 570px;
		max-width: 570px;
	}
	.new--item--summary {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
		padding-left: 44px;
	}
	@media (max-width: 512px) {
		& > div {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
.news--item--img {
	position: relative;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		max-width: 570px;
		width: 100%;
		height: 100%;
		background-image: url(../assets/images/news-events/background-after.png);
	}
}
.new--item--summary {
	
	max-height: 324px;
	align-self: center;
	h3.title {
		font-size: 30px;
		font-family: UTM-COPPERPLATE;
		color: #002F4B;
	}
	span {
		font-size: 16px;
		color: #c4851a;
		font-family: MYRIADPRO-REGULAR;
	}
	p.desc {
		font-size: 16px;
		font-family: MYRIADPRO-LIGHT;
		margin: 41px 0 32px 0;
	}
	a {
		border: 0;
		padding: 0;
		background: #fff;
		color: #C4851A;
		font-size: 20px;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
		border-radius: 7px;
		width: 134px;
		height: 36px;
		font-family: MYRIADPRO-BOLDIT;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			width: 1em;
			height: 50%;
			background-size: 100% 100%;
			transform: translateY(-50%);
			background: url(../assets/images/news-events/after-icon.svg) no-repeat;
		}
	}
}
