.home__hotnews {
	padding: 50px 0;
}

.home__hotnews__wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-left: -7.5px;
	margin-right: -7.5px;
}

.list__hotnews__wrapper,
.hot-news-banner {
	padding-right: 7.5px;
	padding-left: 7.5px;
}

.list__hotnews__wrapper {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	padding-left: -7.5px;
	padding-right: -7.5px;
}

.list__hotnews {
	@media (max-width: 1024.98px) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -7.5px;
		margin-right: -7.5px;
	}
}

.item__hotnews {
	img {
		transition: .7s all ease-in-out;
	}
	@media (min-width: 1025px) {
		&:hover {
			cursor: pointer;

			img {
				transform: scale(1.1);
			}

		}
	}
	// PC
	@media (min-width: 1025px) {
		&:first-child {
			float: left;
			width: 590px;
			padding-right: 38px;

			.hotnews__img {
				height: 380px;
			}

			.hotnews__desc {
				p {
					font-size: 22px;
				}
			}

			@media (max-width: 1439.98px) {
				width: 50%;

				.hotnews__desc {
					p {
						font-size: 16px;
					}
				}
			}

			@media (max-width: 1199.98px) {
				padding-right: 15px;
			}
		}

		&:last-child {
			margin-bottom: 0 !important;
		}

		.hotnews__desc {
			margin-top: 25px;

			p {
				color: map-get($mau, main-1);
				font-family: MYRIADPRO-BOLD;
			}

			@media (max-width: 1439.98px) {
				margin-top: 15px;
			}
		}

		+.item__hotnews {
			display: flex;
			flex-wrap: wrap;
			padding-bottom: 13px;
			margin-bottom: 13px;
			border-bottom: 1px solid rgba($color: #707070, $alpha: .2);
			height: 118px;

			.hotnews__img {
				-ms-flex: 0 0 222px;
				flex: 0 0 222px;
				max-width: 222px;
				height: 105px;

				@media (max-width: 1199.98px) {
					-ms-flex: 0 0 180px;
					flex: 0 0 180px;
					max-width: 180px;
				}
			}

			.hotnews__desc {
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%;
				padding-left: 32px;
				margin-top: 0;
			}

			@media (max-width: 1439.98px) {
				.hotnews__desc {
					padding-left: 15px;
				}
			}
		}

		@media (max-width: 1439.98px) {
			width: 50%;
		}
	}

	// MOBILE
	@media (max-width: 1024.98px) {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		padding-right: 7.5px;
		padding-left: 7.5px;
		margin-bottom: 10px;

		.hotnews__img {
			height: 100px;
		}

		.hotnews__desc {
			margin-top: 5px;

			p {
				font-size: 14px;
				color: map-get($mau, main-1);
				font-family: MYRIADPRO-BOLD;
			}
		}

		&:nth-last-child(1),
		&:nth-last-child(2) {
			margin-bottom: 0;
		}

		@media (max-width: 575.98px) {
			.hotnews__img {
				height: 150px;
			}
		}

		@media (max-width: 375.98px) {
			.hotnews__img {
				height: 120px;
			}
		}
	}
}

.home__hotnews-banner__wrapper {
	-ms-flex: 0 0 260px;
	flex: 0 0 260px;
	max-width: 260px;

	@media (max-width: 575.98px) {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		margin-top: 15px;
	}
}

.hot-news-banner {
	.swiper-slide {
		img {
			height: 382px;

			@media (max-width: 575.98px) {
				height: 100%;
			}
		}
	}

	@media (max-width: 575.98px) {
		max-width: 260px;
		margin: 0 auto;
	}
}