.member__page {
	color: #002f4b;
}
.container-1476px {
	position: relative;

	@media (min-width: 1440px) {
		max-width: 1476px;
		margin: 0 auto;
	}
}
.member__wrapper--banner {
	max-width: 965px;
}
.member__page--banner {
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	& > div {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	@media (max-width: 767.98px) {
		flex-direction: column;
		& > div {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
		.banner-desc {
			order: -1;
		}
		.banner--img {
			align-self: center;
		}
		.banner-desc {
			margin: 0;
		}
	}
}
.banner--img {
	text-align: right;
}
.banner-desc {
	align-self: center;
	margin: 0 auto;
	max-width: 377px !important;
	h3.title {
		font-size: 17px;
		font-family: UTM-COPPERPLATE;
	}
	h3.subtitle {
		font-family: UTM-COPPERPLATE;
		font-size: 30px;
		margin-bottom: 25px;
	}
}
.member__wrapper {
	background: #f4f5f9;
	margin: 0;
	padding-top: 55px;
	h3 {
		font-family: UTM-COPPERPLATE;
		font-size: 30px;
		margin-bottom: 48px;
		text-align: center;
	}
}
.member--list.row {
	margin-bottom: 45px;
	position: relative;
	& > div {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	@media (max-width: 1024.98px) {
		margin-left: -10px;
		margin-right: -10px;
		& > div {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
	@media (max-width: 767.98px) {
		& > div {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 3px;
		background: #fff;
		bottom: 0;
		left: 0;
	}
}
.member--item {
	padding: 40px;
	border-bottom: .5px solid rgba($color: #707070, $alpha: 0.3);
	&:nth-last-child(1) {
		border: none;
	}
	&:nth-last-child(2) {
		border: none;
	}
	&:nth-last-child(3) {
		border: none;
	}
	.member--item--inner {
		background: #fff;
		border-radius: 16px;
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
		height: 161px;
		align-items: center;
		justify-content: center;
		padding: 0 10px;
		.member--item--img {
			-ms-flex: 0 0 92px;
			flex: 0 0 92px;
			max-width: 92px;
			padding-right: 10px;
		}
		.member--item--desc {
			border-left: 1px solid #002f4b;
			padding-left: 20px;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			h6 {
				font-size: 17px;
				color: #002f4b;
				font-family: MYRIADPRO-BOLD;
			}
		}
	}
}

.member--item--inner {
	display: flex;
	position: relative;
	transition: .7s all ease-in-out;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transition: opacity 1s ease;
		background: rgb(255, 255, 255);
		background: linear-gradient(
			90deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(196, 133, 26, 1) 100%
		);
		opacity: 0;
	}
	.member--item--img {
		z-index: 99;
	}
	.member--item--desc {
		z-index: 99;
	}
	@media (min-width: 1024.98px) {
		&:hover {
			.member--item--desc {
				border-left: 1px solid #fff;

				h6 {
					color: #fff;
				}
				p {
					color: #fff;
				}
			}
		}
		&:hover::after {
			opacity: 1;
		}
	}
}
.see-more {
	cursor: pointer;
	user-select: none;
	text-align: center;
	color: #c4851a;
	font-family: MYRIADPRO-REGULAR;
	font-size: 18px;
	padding-bottom: 95px;
}
