.MainSlider__Banners {
	position: relative;
	user-select: none;

	.swiper-pagination {
		.swiper-pagination-bullet {
			width: 18px;
			height: 18px;
			opacity: 1;
			border-radius: 50%;
			background-color: rgba(map-get($mau, trang), $alpha: .5);
			transition: all .2s ease-in-out;
			margin: 0 15px;

			&.swiper-pagination-bullet-active {
				border: 5px solid #ffffff;
				background-color: map-get($mau, den);
			}
		}

		@media (max-width: 575.98px) {
			display: none;
		}
	}

	&.isIndex {
		.pagesBanner__content {
			display: none;
		}

		.main_banner__img {
			height: unset;
		}

		@media (max-width: 1024.98px) {
			padding-top: 100px;
		}
	}
}

.main_banner__img {
	height: 665px;

	@media (max-width: 1024.98px) {
		height: 500px;
	}

	@media (max-width: 767.98px) {
		height: 350px;
	}
}

.main_banner__link {
	display: block;
}

.pagesBanner__content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.pagesBanner__content__wrapper {
	position: absolute;
	left: 0;
	bottom: 45px;
	width: 100%;

	@media (max-width: 575.98px) {
		bottom: 25px;
	}
}

.pagesBanner__title {
	h1 {
		color: map-get($mau, trang);
		font-size: 30px;
		font-family: UTM-COPPERPLATEB;
	}

	@media (max-width: 575.98px) {
		h1 {
			font-size: 24px;
		}
	}
}