extends _templates/_layout/_layout.pug

block var
	- let title = 'QUYẾT ĐỊNH THÀNH LẬP | Hiệp hội công chứng';
	- let bodyClass = 'decision-page';
	- let linkBanner = './assets/images/page-banners/introduct.png';
	- let titleBanner = 'GIỚI THIỆU';

block loading
block banner,breadcrumb
	include _templates/_layout/_pages-banner
block main
	include _templates/decision/d-1
block scripts