extends _templates/_layout/_layout.pug

block var
	- let title = 'NGHIÊN CỨU - TRAO ĐỔI | Hiệp hội công chứng';
	- let bodyClass = 'research-page';
	- let linkBanner = './assets/images/page-banners/research.png';
	- let titleBanner = 'NGHIÊN CỨU - TRAO ĐỔI';
block loading
block banner,breadcrumb
	include _templates/_layout/_pages-banner
block main
	include _templates/research/r-1
block scripts