section.Executive-committee
	.container
		.row
			.committee__wrapper.container-1088px
				.committee__intro
					h2 BAN CHẤP HÀNH HIỆP HỘI 
					h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  Cum sociis natoque penatibus et magnis.Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mad montes, nascetur ridiculus mus.
				.committee__member.row
					-for(var i=1;i<=12;i++)
						.col-4.committee__member--row
							.committee__member--item
								a(href="")
									.committee__itemImages
										//200x200
										img(src="./assets/images/intro/user.png", alt="")
									h3 MR . NGUYEN TRAN VAN A
									p Tổng giám đốc Công Ty CP Luật TP.HCM