section.Decision
	.container
		.row
			.decision__wrapper.container-1088px
				.decision__intro
					h2 Điều lệ
					h4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.  Cum sociis natoque penatibus et magnis.Aenean massa. Cum sociis natoque penatibus et magnis dis parturient mad montes, nascetur ridiculus mus.
				.decision__doc
					img.blur-up.lazyloaded(src="./assets/images/intro/BTC.png", alt="quyet-dinh-thanh-lap")