body {
	overflow: hidden;

	&.disabled {
		overflow: hidden;
	}
}

#body-smoothScroll {
	max-height: 100vh;
	height: 100%;
}

input,
select,
textarea {
	&.input-validation-error {
		color: red !important;
		border: 1px solid red !important;
		transition: 0.3s all ease-in-out;

		&::placeholder {
			color: red !important;
		}
	}
}

#back_to_top {
	cursor: pointer;
	position: fixed;
	right: 25px;
	bottom: 25px;
	opacity: 0;
	visibility: hidden;
	transition: .3s all ease-in-out;
	z-index: 300;

	&.show {
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: 575.98px) {
		right: unset;
		left: 10px;
		bottom: 10px;
		width: 40px;
	}
}

#overlay {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background-color: rgba(0, 0, 0, .8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	transition: .3s all ease-in-out;

	&.show {
		opacity: 1;
		visibility: visible;
		pointer-events: visible;
	}
}

.field-validation-error {
	display: inline-block;
	margin: 0.5rem 0;
	font-size: 12px;
	color: red;
}

.tab-container {
	.list-tab {
		.item {
			cursor: pointer;

			&.active {
				color: map-get($mau, main);
			}
		}
	}

	.tab-content {
		.content {
			display: none;
			opacity: 0;
			transition: all 0.3s cubic-bezier(0.2, 0.5, 0.5, 0.8);

			&.show {
				opacity: 1;
			}
		}
	}
}

.ofcv {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}
}

.container-1365px {
	position: relative;

	@media (min-width: 1440px) {
		max-width: 1365px;
		margin: 0 auto;
	}
}

.container-1088px {
	position: relative;

	@media (min-width: 1440px) {
		max-width: 1088px;
		margin: 0 auto;
	}
}

.all-no-border {

	input,
	div {
		border: 0;
	}
}

.isVideo {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../assets/images/lib-image/video-after.png);
		pointer-events: none;
	}

	&::before {
		content: "";
		z-index: 999;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 89px;
		height: 89px;
		background: url(../assets/images/lib-image/video-icon.png) no-repeat;
		pointer-events: none;
	}
}