section.home__news--highlight
	.container
		.news--highlight__wrapper.container-1365px
			.new--highlight__wrapper--inner.ov-h
				h2.tt-u.title
					!= "QUYẾT ĐỊNH THÀNH LẬP <span>HIỆP HỘI</span>"
				p.tt-u.sub--title HIỆP HỘI CÔNG CHỨNG VIÊN VIỆT NAM
				p.lcl.lcl-3.desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim...
				a(href="#").btn.tt-u.cl-trang xem thêm
