section.home__news--highlight
	.container
		.news--highlight__wrapper.__wrapper-calc--276px
			h3.tt-u
				!= "QUYẾT ĐỊNH THÀNH LẬP <span>HIỆP HỘI</span>"
			p.tt-u HIỆP HỘI CÔNG CHỨNG VIÊN VIỆT NAM
			p.lcl.lcl-3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae sit sed, quod eius molestiae incidunt, doloribus tenetur quae beatae a minus inventore corrupti animi tempora voluptatem. Quisquam corrupti deserunt consequuntur?
			a(href="#").btn.tt-u.cl-trang xem thêm
			