section.home__news--highlight
	.container
		.news--highlight__wrapper.container-1365px
			h2.tt-u.title
				!= "QUYẾT ĐỊNH THÀNH LẬP <span>HIỆP HỘI</span>"
			p.tt-u.sub--title HIỆP HỘI CÔNG CHỨNG VIÊN VIỆT NAM
			p.lcl.lcl-3.desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae sit sed, quod eius molestiae incidunt, doloribus tenetur quae beatae a minus inventore corrupti animi tempora voluptatem. Quisquam corrupti deserunt consequuntur?
			a(href="#").btn.tt-u.cl-trang xem thêm
