section.home__hotnews
	.container
		.container-1365px
			h3.tt-u 
					span Điểm Tin
			.home__hotnews__wrapper
				// LIST HOT NEWS
				.list__hotnews__wrapper
					.list__hotnews.clearfix
						-for(i=0;i<4;i++)
							a(href="#").item__hotnews
								.hotnews__img
									img.ofcv.lazyload.blur-up(data-src=`./assets/images/index/hot-news/hot-news-${i}.jpg`, alt="")
								.hotnews__desc
									p.lcl.lcl-4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
				// NEWS BANNER
				.home__hotnews-banner__wrapper
					.hot-news-banner
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									img.ofcv(src="./assets/images/index/hot-news/banner.png", alt="")
								.swiper-slide
									img.ofcv(src="./assets/images/index/hot-news/banner.png", alt="")
								.swiper-slide
									img.ofcv(src="./assets/images/index/hot-news/banner.png", alt="")