section.home__news__event
	.container
		.home__news__event__wrapper.container-1365px
			.home__news__event__wrapper--inner.row
				.home__news.col-6
					.home__news__wrapper
						h3.tt-u
							span Tin Tức
						.news--inner
							-for(var i = 0; i< 5; i++)
								div.new--inner__wrapper
									div.news--img.ov-h
										img.lazyload.blur-up(data-src=`./assets/images/index/hot-news-events/news-${i + 1}.jpg`, alt="")
									div.news--desc
										p.lcl.lcl-3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis iusto minus beatae soluta molestias porro placeat eius temporibus molestiae dolorem laboriosam voluptatibus cumque, dolores alias doloremque sit tempora. Esse, nostrum.
				.col-1
				.home__events.col-5
					.home__events__wrapper
						h3.tt-u 
							span Sự Kiện
						.events--inner
							-for(var i = 0; i< 3; i++)
								div
									a(href="#")
										div.event--img.ov-h
											img.lazyload.blur-up(data-src=`./assets/images/index/hot-news-events/event-${i + 1}.jpg`, alt="")
											div.event--desc
												p.lcl.lcl-2.events--desc Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis iusto minus beatae soluta molestias porro placeat eius temporibus molestiae dolorem laboriosam voluptatibus cumque, dolores alias doloremque sit tempora. Esse, nostrum.

